<section class="application-section application-section--list" xmlns="http://www.w3.org/1999/html">

    <div class="container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

            <div class="demo-preview-block">

                <!--
                    sample-inplace-persons implements "ScopeAware" so we can take
                    'persons' from this component and not from Application
                                                                                         -->
                <collector-list>
                    <div mdl-repeat="collector in collectors">

                        <template>
                            <collector-view class="sample-inplace-edit--shadow" data-id="{{collector.id}}"></collector-view>
                        </template>

                    </div>
                </collector-list>

            </div>

        </div>
    </div>

</section>