<section class="application-section application-section--list" xmlns="http://www.w3.org/1999/html">

    <div class="container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

            <div class="demo-preview-block">

                <!--
                    sample-inplace-persons implements "ScopeAware" so we can take
                    'persons' from this component and not from Application
                                                                                         -->
                <sample-inplace-persons>
                    <div mdl-repeat="person in persons">

                        <template>
                            <sample-inplace-edit class="sample-inplace-edit--shadow" data-id="{{person.id}}"></sample-inplace-edit>
                        </template>

                    </div>
                </sample-inplace-persons>

            </div>

        </div>
    </div>

</section>