@import "packages/mdl/assets/styles/mixins";
@import "packages/mdl_inplace_edit_sample/assets/styles/main";

$_inplace_edit_background: #f2f2f2 !important;

.demo-page--inplace, .demo-section--inplace {

    // Default color for background set to content-box to make the demo
    // look more realistic
    .mdl-layout__content > .container > .content {
        background-color: $_inplace_edit_background;
    }
}


